@import url('https://fonts.googleapis.com/css?family=Anton|Cabin+Sketch|Indie+Flower');

$font-cursive: 'Indie Flower', cursive;
$font-heading: 'Anton', monospace;
$font-sketch: 'Cabin Sketch', Arial;