@import 'colors';
@import 'font-styles';
@import 'font-sizes';

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  body {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    background-color: $bg-color-main;
    color: $fore-color-main;
    
    .section-header {
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: 1rem auto;
      padding: 0;
      justify-content: space-between;
      .title {
        font-family: $font-heading;
        font-size: $heading-font-size;
        font-weight: 300;
      }
      .cube-count-container {
        display: flex;
        font-family: $font-heading;
        font-weight: 300;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 1.5rem;
        justify-content: flex-end;
        .cube-title {
          font-size: $heading-font-size * 0.7;
          text-align: center;
        }
        .cube-number {
          font-size: $heading-font-size * 1.1;
          font-weight: 800;
          color: $color-pinky-red;
        }
      }
    }
    
    .wrap-main-aside {
      display: flex;
      flex-direction: row-reverse;
      width: 90%;
      margin: 0 auto;
      
      .section-main {
        flex: 16;
        display: flex;
        flex-direction: row;
      } // end of section-main
      
      .section-aside {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .beverage-select-instruction {
          text-align: center;
        }
        .social-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .social-title {
            text-align: center;
            font-family: $font-heading;
            color: $fore-color-secondary;
          }
          .social-btn-container {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            .btn-facebook, .btn-twitter {
              color: $bg-color-main;
              border: none;
              padding: 0.2rem 0.3rem;
              border-radius: 0.2rem;
              background-color: $fore-color-secondary;
            }
            .btn-facebook {
              background-color: rgb(59, 89, 152);
            }
            .btn-twitter {
              background-color: rgb(0, 132, 180);
            }
          } // end of social-btn-container
        } // end of social-container
      } // end of section-aside
      
    } // end of wrap-main-aside
    
    .footer {
      width: 95%;
      margin: 1rem auto 0rem auto;
    }
  } // end of body
  
} //end of root
